<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (products.length > 0) { %>
            <ul class="cart__item-list">
                <% products.forEach(cartProduct => { %>
                    <li class="cart__item">
                        <h1><%= cartProduct.productId.title %></h1>
                        <h2>Quantity: <%= cartProduct.quantity %></h2>
                    </li>
                <% }) %>
            </ul>
            <div class="centered">
                <h2>Total: <%= totalSum %></h2>
            </div>
            <div class="centered">
                <button id="order-btn" class="btn">ORDER</button>
                <script src="https://js.stripe.com/v3/"></script>
                <script>
                    var stripe = Stripe('pk_test_51HaLb2IB68E7Rj01KlLfEVrrJFft8WIZFNeRUmyq1hFMZdmUm2VxTV6da0i7MlMFfE7syBXUN1EAOn1m1oEMUihw00Gb5XIMeR');
                    var orderBtn = document.getElementById('order-btn');

                    orderBtn.addEventListener('click', function() {
                        stripe.redirectToCheckout({
                            sessionId: '<%= sessionId %>'
                        })
                    })
                </script>
            </div>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>